body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.layout{
  width: 85%;
  margin: 0 auto;
}

.header{
  display: flex;
  height: 132px;
  justify-content: center;
  align-items: center;
  border-bottom: 3px solid black;
  margin-bottom: 35px;
}

.header .logo{
  display: flex;
  flex-grow: 2;
}

.header .logo span{
  display: block;
  font-size: 56px;
  font-weight: bolder;
  margin-top: 4px;
}

.header .logo h3{
  display: block;
  flex-basis: 40px;
  margin-left: 10px;
  font-weight: 300;
  text-transform: uppercase;
}

.header nav{
  flex-grow: 1;
}

.header nav ul{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  height: 132px;
}

.header li{
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
}

.header li a{
  color: black;
  text-decoration: none;
  font-size: 17px;
  margin-left: 15px;
  margin-right: 15px;
  transition: all 300ms;
}

.header a:hover{
  color: #fa4529;
}

.header .active {
  color: #fa4529;
}

.content{
  min-height: 400px;
}

.footer{
  text-align: center;
  font-size: 14px;
  margin-top: 80px;
  border-top: 3px solid black;
  padding-top: 45px;
  background: #f5f5f5;
  min-height: 40px;
  line-height: 7px;
  color: #444;
}

.home h1{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 400;
  font-size: 60px;
  margin-bottom: 0px;
  margin-top: 80px;
}

.home strong{
  color: #fa4529;
}

.home h2{
  color: rgb(98, 97, 97);
  font-weight: lighter;
}

.home a{
  background-color: #fa4529;
  color: white;
  padding:7px ;
  border-radius: 5px;
  text-decoration: none;
  transition: all 300ms;
  display:flexbox;
}

.home a:hover,
input[type="submit"]:hover,
button:hover{
  background-color: rgb(26, 137, 26);
}

.page .heading,
.home .heading{
  font-size: 40px;
  font-weight: 500;
  color: black;
  margin-bottom: 0px;
}

.page .heading{
  font-size: 55px;
  font-weight: bold;
}

.home p{
  color: rgb(98, 97, 97);
}

input[type="text"],
textarea{
  padding: 15px;
  display: block;
  width: 250px;
  margin-top: 25px;

}

input[type="submit"],
button{
  background-color: #fa4529;
  font-size: 15px;
  color: white;
  padding:15px ;
  border: 0px;
  border-radius: 5px;
  text-decoration: none;
  transition: all 300ms;
  display:flexbox;
  margin-top: 15px;
  cursor: pointer;
}

